{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}"/>   

    <link rel="stylesheet" href="{% static 'styles/font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
</head>
<body>
    <div class="navbar" id="ss">
        <header>
            <nav class="menu">
                <a href="#"><img src="../../static/images/mes.png" alt="logo"></a>
                <span class="logotext">MES-MOM</span>
                <ul>
                    <a href="{% url 'mes:home'%}"><li>首页</li></a>
                    <a href="{% url 'mes:share'%}"><li>知识分享</li></a>
                    <li>求职招聘</li>
                    <li>注册</li>
                    <li>登录</li>
                </ul>
            </nav>
        </header>
    </div>
    
    
    <div class="wrap">
        {% block content%}
            {% endblock %}
    </div>
    {% block script %}
    {% endblock %}
    <script src="{% static 'scripts/home.js' %}"></script>
</body>
</html>