.left{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.left>div{
    width:960px;
    background: #E2E4E6;
    border:1px solid #000;
    border-radius:10px;
    padding:0 10px 10px;
    cursor:pointer;
    margin-bottom: 20px;
    height:200px;
    word-wrap: break-word; 
    opacity: 0.5;
    transition-property: height;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.left>div span{
    display: block;
    width:100%;
    color:#259;
    text-align: center;
    font-size:24px;
    font-weight: bold;
    box-shadow: 0px 5px 5px #A0A0A0;
    margin-bottom: 5px;
}
.left>div:hover{
    opacity: 1;
    height:auto;
}
.left>div:hover .news-content{
    height:auto;
}
.left .news-content{
    background:#fff;
    width:100%;
    margin:0 auto;
    height:120px;
    border-radius: 5px;
    text-indent: 2em;
    line-height: 1.7;
    font-size:13px;
    padding: 5px;
    overflow: hidden;
    transition-property: height;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.left a{
    display:inline-block;
    font-size:13px;
    text-align: right;
    text-decoration: none;
    float:right;
    margin-top:5px;

}
/*.left #float-button{
    display:inline-block;
    width:50px;
    height:30px;
    position:fixed;
    bottom:20px;
    margin-left:850px;
    color:#fff;
    background: #61767b;
    text-align: center;

}*/
/*#hidden{
    visibility: hidden;
}
.left a:hover{
    background: #eff6fa;
}*/

