{% extends "base.html"%}
{%load static%}
 
{% block content%}
 <link rel="stylesheet" href="{% static 'styles/home.css' %}"/> 
<div class="left">
        {% for new in object_list %}
            <div>
	            <span>
	            	{{new.title}}
                    {{ new.pub_date }}
	            </span>
	            <div class="news-content">
	            {{ new.content }}
	            </div>
<!-- 	            <a class="load-more" href="#more">查看更多</a> -->
            </div>
        {% endfor %}
</div>
{% endblock %}