<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../../static/styles/home.css">
</head>
<body>
    <div class="navbar" id="ss">
        <header>
            <nav class="menu">
                <a href="#"><img src="../../static/images/mes.png" alt="logo"></a>
                <span class="logotext">MES-MOM</span>
                <ul>
                    <li>首页</li>
                    <li>知识分享</li>
                    <li>求职招聘</li>
                    <li>注册</li>
                    <li>登录</li>
                </ul>
            </nav>
        </header>
    </div>
    <div class="wrap">
        <div class="left">
            <div>
                <p>hello world</p>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <script src="../../static/scripts/home.js"></script>
</body>
</html>